body {
background-color: rgb(228, 214, 226);
}
.Confirm {
    height: 100px;
    width: 200px;
    background-color: aqua;
    left: 50%;
}
.passwordwrite{
     height: 100px;
    width: 200px;
    background-color: aqua;
    font-family: 'Lucida Sans'
}